:root  > * {
  --md-primary-fg-color:        #02797a;
  --md-primary-fg-color--light: #89ffef;
  --md-primary-fg-color--dark:  #014e4a;
}

.no-title h1.md-content__title {
  display: none;
}

.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 2.4rem;
    width: 2.4rem;
}